{"openapi":"3.0.0","info":{"title":"Phoenix API by Phone.com","description":"API","version":"4.6.11"},"servers":[{"url":"https://api.phone.com","description":"Main production server"}],"paths":{"/v4/accounts/{voip_id}/api-statistics":{"get":{"summary":"Shows API usage statistics","description":"Information about API usage statics.\n\nReturns statistics of endpoints used by account.  Your token should have 'oauth-management' scope to perform this request.","tags":["API Endpoint Statistics"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[from]","schema":{"type":"string"},"required":false,"description":"From time (unix timestamp, including)"},{"in":"query","name":"filters[to]","schema":{"type":"string"},"required":false,"description":"To time (unix timestamp, not including)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/api-errors":{"get":{"summary":"List API Errors","description":"We save API errors related to your account so you can analyze issues if for some reason you don't log error responses in your application\n\nGet a list of API errors related to your account. Your token should have 'oauth-management' scope to perform this request.","tags":["API Errors"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[from]","schema":{"type":"string"},"required":false,"description":"From time (unix timestamp; including)"},{"in":"query","name":"filters[to]","schema":{"type":"string"},"required":false,"description":"To time (unix timestamp; not including)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/oauth/access-tokens":{"get":{"summary":"List Access Tokens","description":"Allows you to manage access tokens issued for your account.\n\nGet a list of access tokens for an account","tags":["Access Tokens"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/oauth/access-tokens/{id}":{"get":{"summary":"Get Access Token","description":"Allows you to manage access tokens issued for your account.\n\nGet Access Token","tags":["Access Tokens"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete Access Token","description":"Allows you to manage access tokens issued for your account.\n\nDelete Access Token","tags":["Access Tokens"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/oauth/access-tokens":{"get":{"summary":"List Access Tokens for extension","description":"Allows you to manage access tokens issued for your account.\n\nGet a list of access tokens for an extension and account","tags":["Access Tokens"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/oauth/access-tokens/{id}":{"get":{"summary":"Get Access Token for extension","description":"Allows you to manage access tokens issued for your account.\n\nGet Access Token for extension","tags":["Access Tokens"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete Access Token for extension","description":"Allows you to manage access tokens issued for your account.\n\nDelete Access Token for extension","tags":["Access Tokens"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/contacts":{"get":{"summary":"List Contacts","description":"Contact which can be used for different needs, such as ordering devices\n\nGet list of account contacts","tags":["Account Contacts"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[require_address]","schema":{"type":"string"},"required":false,"description":"Require address"},{"in":"query","name":"filters[contact_source]","schema":{"type":"string"},"required":false,"description":"Contact source. Possible values: account, payment-methods, device-emergency"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"post":{"summary":"Create Contact","description":"Contact which can be used for different needs, such as ordering devices\n\nAdd new account contact","tags":["Account Contacts"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Add new account contact","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"security":[{"bearerAuth":[]}]}},"/v4/accounts":{"get":{"summary":"List Accounts","description":"This page gives an overview of how to interact with your accounts.\n\nGet a list of accounts visible to the authenticated user or client","tags":["Accounts"],"parameters":[{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[name]","schema":{"type":"string"},"required":false,"description":"Name (or company) of the account"},{"in":"query","name":"filters[username]","schema":{"type":"string"},"required":false,"description":"Username"},{"in":"query","name":"filters[email]","schema":{"type":"string"},"required":false,"description":"Email of the account"},{"in":"query","name":"filters[phone]","schema":{"type":"string"},"required":false,"description":"Phone number of the account"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}":{"get":{"summary":"Get Account","description":"This page gives an overview of how to interact with your accounts.\n\nRetrieve details of an individual account","tags":["Accounts"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"patch":{"summary":"Update Account","description":"This page gives an overview of how to interact with your accounts.\n\nUpdate setting of the account","tags":["Accounts"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Update setting of the account","required":true,"content":{"application/json":{"schema":{"title":"Account","type":"object","properties":{"contact":{"nullable":true,"type":"object","properties":{"id":{"nullable":true,"type":"integer","description":"Contact ID. Read-only"},"name":{"type":"string","description":"Name"},"company":{"nullable":true,"type":"string","maxLength":70,"description":"Name of the contact's company"},"address":{"properties":{"line_1":{"type":"string","maxLength":55,"description":"Address line 1"},"line_2":{"nullable":true,"type":"string","maxLength":55,"description":"Address line 2"},"city":{"type":"string","maxLength":40,"description":"City"},"province":{"nullable":true,"type":"string","maxLength":40,"description":"Contact province"},"postal_code":{"nullable":true,"type":"string","maxLength":40,"description":"Contact postal code"},"country":{"type":"string","minLength":2,"maxLength":2,"description":"Country name"}},"required":["line_1","city","country"],"description":"Contact Address"},"phone":{"type":"string","pattern":"^\\+?([0-9\\-\\(\\)\\s]*)$","description":"Contact phone number"},"fax":{"nullable":true,"type":"string","maxLength":25,"description":"Contact fax number"},"primary_email":{"type":"string","maxLength":100,"description":"Primary email"},"alternate_email":{"nullable":true,"type":"string","maxLength":100,"description":"Alternate email"}},"required":["name","phone","primary_email"],"description":"Contact Objects"},"billing_contact":{"nullable":true,"type":"object","properties":{"id":{"nullable":true,"type":"integer","description":"Billing contact ID. Read-only"},"name":{"type":"string","description":"Billing contact name"},"company":{"nullable":true,"type":"string","maxLength":70,"description":"Billing contact company"},"address":{"properties":{"line_1":{"type":"string","maxLength":55,"description":"Billing contact street address"},"line_2":{"nullable":true,"type":"string","maxLength":55,"description":"Billing contact street address 2"},"city":{"type":"string","maxLength":40,"description":"Billing contact city"},"province":{"nullable":true,"type":"string","maxLength":40,"description":"Billing contact province"},"postal_code":{"nullable":true,"type":"string","maxLength":40,"description":"Billing contact postal code"},"country":{"type":"string","minLength":2,"maxLength":2,"description":"Billing contact country"}},"required":["line_1","city","country"],"description":"Billing contact address"},"phone":{"type":"string","pattern":"^\\+?([0-9\\-\\(\\)\\s]*)$","description":"Billing contact phone"},"fax":{"nullable":true,"type":"string","maxLength":25,"description":"Billing contact fax"},"primary_email":{"type":"string","maxLength":100,"description":"Billing contact email"},"alternate_email":{"nullable":true,"type":"string","maxLength":100,"description":"Billing contact alternate email"}},"required":["name","phone","primary_email"],"description":"Billing Contact Objects"},"hold_music":{"nullable":true,"type":"object","description":"Default hold music"},"timezone":{"nullable":true,"type":"string","description":"Timezone"},"directory_type":{"nullable":true,"type":"string","enum":["last_name","first_name"],"description":"Dial-by-Name Directory Type"},"dial_prefix":{"nullable":true,"type":"string","minLength":0,"maxLength":1,"description":"Prefix for Dialing Out"},"call_recording_beep":{"nullable":true,"type":"boolean","description":"Call Recording Beep (Every 15 sec)"},"default_voip_phone_id":{"nullable":true,"type":"integer","minimum":0,"description":"ID of default extension"},"record_all_calls":{"nullable":true,"type":"string","enum":["none","incoming","outgoing","all","custom"],"description":"Call Recording policy"},"is_restricted":{"nullable":true,"type":"boolean","description":"Defines if Caller ID of account's extension restricted to the numbers associated with this extension"},"features":{"nullable":true,"type":"object","properties":{"premium-music":{"nullable":true,"type":"boolean","description":"Access to premium hold music"},"call-recording-300":{"nullable":true,"type":"boolean","description":"Call recordings (300 minutes block)"},"call-recording-1000":{"nullable":true,"type":"boolean","description":"Call recordings (1000 minutes block)"}},"description":"Accounts features"}}}}}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/async-call-logs":{"get":{"summary":"Get List of Call Log Files","description":"Phone.com created the async-call-logs API endpoint to allow customers to download large amounts of call logs without encountering the normal Phone.com API Rate Limits. \nThis service needs to be activated on a per-customer basis and collect the call log data in the requested customer's format. (please call our support to activate and better define the format if needed) \nWhen the async-call-logs endpoint is invoked, the endpoint will return a list of 47 to 48 files, each representing the calls entered into the logs during a full hour of the last two days. The file names contain the time period of call logs each file encapsulates. \nThe Items returned are ordered by modification (i.e., creation) date; the most recent item is the first item. The files should be download using the provided URL(s) in the item JSON array returned by the endpoint. \nPhone.com creates the files at the 15 minutes mark, every hour for the previous hour. Files lifespan is 2 days, which means that each file will disappear after 48 hours.\n\nThis endpoint provides access to asynchronously generated files with call logs.","tags":["Asynchronous Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/phone-numbers/available":{"get":{"summary":"List Available Phone Numbers","description":"This service lists phone numbers that are available for purchase through Phone.com.\n\nGet a list of available phone numbers","tags":["Available Phone Numbers"],"parameters":[{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"filters[city]","schema":{"type":"string"},"required":false,"description":"City filter"},{"in":"query","name":"filters[country]","schema":{"type":"string"},"required":false,"description":"Country filter (code like \"US\" or \"CA\")"},{"in":"query","name":"filters[country_code]","schema":{"type":"string"},"required":false,"description":"Country Code filter (like \"1\" or \"972\")"},{"in":"query","name":"filters[is_toll_free]","schema":{"type":"string"},"required":false,"description":"Toll free filter (1 for toll free numbers only, 0 for local numbers only)"},{"in":"query","name":"filters[npa]","schema":{"type":"string"},"required":false,"description":"NANP NPA filter (+1-NPA-nxx-xxxx)"},{"in":"query","name":"filters[nxx]","schema":{"type":"string"},"required":false,"description":"NANP NXX filter (+1-npa-NXX-xxxx)"},{"in":"query","name":"filters[phone_number]","schema":{"type":"string"},"required":false,"description":"Phone Number filter. You can also provide value as \"contains:1234\" (numbers with \"1234\" will be returned)"},{"in":"query","name":"filters[price]","schema":{"type":"string"},"required":false,"description":"Price filter. You can provide the exact price in cents or use operators like \"lte:\", \"gte:\", \"lt:\", \"gt:\", \"between:\"."},{"in":"query","name":"filters[province]","schema":{"type":"string"},"required":false,"description":"State or Province (code like \"NY\", \"CA\" or \"TX\")"},{"in":"query","name":"filters[xxxx]","schema":{"type":"string"},"required":false,"description":"NANP XXXX filter (+1-npa-nxx-XXXX)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/public/phone-numbers/available":{"get":{"summary":"List Available Phone Numbers (Public)","description":"This service lists phone numbers that are available for purchase through Phone.com.\n\nGet a list of available phone numbers (public endpoint)","tags":["Available Phone Numbers"],"parameters":[{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"filters[city]","schema":{"type":"string"},"required":false,"description":"City filter"},{"in":"query","name":"filters[country]","schema":{"type":"string"},"required":false,"description":"Country filter (code like \"US\" or \"CA\")"},{"in":"query","name":"filters[country_code]","schema":{"type":"string"},"required":false,"description":"Country Code filter (like \"1\" or \"972\")"},{"in":"query","name":"filters[is_toll_free]","schema":{"type":"string"},"required":false,"description":"Toll free filter (1 for toll free numbers only, 0 for local numbers only)"},{"in":"query","name":"filters[npa]","schema":{"type":"string"},"required":false,"description":"NANP NPA filter (+1-NPA-nxx-xxxx)"},{"in":"query","name":"filters[nxx]","schema":{"type":"string"},"required":false,"description":"NANP NXX filter (+1-npa-NXX-xxxx)"},{"in":"query","name":"filters[phone_number]","schema":{"type":"string"},"required":false,"description":"Phone Number filter. You can also provide value as \"contains:1234\" (numbers with \"1234\" will be returned)"},{"in":"query","name":"filters[price]","schema":{"type":"string"},"required":false,"description":"Price filter. You can provide the exact price in cents or use operators like \"lte:\", \"gte:\", \"lt:\", \"gt:\", \"between:\"."},{"in":"query","name":"filters[province]","schema":{"type":"string"},"required":false,"description":"State or Province (code like \"NY\", \"CA\" or \"TX\")"},{"in":"query","name":"filters[xxxx]","schema":{"type":"string"},"required":false,"description":"NANP XXXX filter (+1-npa-nxx-XXXX)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/blocked-calls":{"post":{"summary":"Create Blocked Call","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nCreate a blocked call pattern","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Create a blocked call pattern","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoipBlacklist"}}}},"security":[{"bearerAuth":[]}]},"get":{"summary":"List Blocked Calls","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nGet a list of pattern used to block incoming or outgoing calls","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[type]","schema":{"type":"string"},"required":false,"description":"Type of blocked call - 'incoming' or 'outgoing'"},{"in":"query","name":"filters[pattern_type]","schema":{"type":"string"},"required":false,"description":"Type of pattern - 'equals' or 'starts_with'"},{"in":"query","name":"filters[pattern]","schema":{"type":"string"},"required":false,"description":"Pattern of phone number. Starts with '+', followed by digits up to 14 characters"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Phone number for being tested by patterns (matched patterns will be returned)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/blocked-calls/{id}":{"get":{"summary":"Get Blocked Call","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nShow details of an individual blocked call pattern","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete Blocked Call","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nDelete a blocked call pattern","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/blocked-calls":{"post":{"summary":"Create Blocked Call for extension","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nCreate a blocked call pattern for extension","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Create a blocked call pattern for extension","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoipBlacklist"}}}},"security":[{"bearerAuth":[]}]},"get":{"summary":"List Blocked Call for extension","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nGet a list of pattern used to block incoming or outgoing calls for extension","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[type]","schema":{"type":"string"},"required":false,"description":"Type of blocked call - 'incoming' or 'outgoing'"},{"in":"query","name":"filters[pattern_type]","schema":{"type":"string"},"required":false,"description":"Type of pattern - 'equals' or 'starts_with'"},{"in":"query","name":"filters[pattern]","schema":{"type":"string"},"required":false,"description":"Pattern of phone number. Starts with '+', followed by digits up to 14 characters"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Phone number for being tested by patterns (matched patterns will be returned)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/blocked-calls/{id}":{"get":{"summary":"Get Blocked Call for extension","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nShow details of an individual blocked call pattern for extension","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete Blocked Call for extension","description":"The Blocked Calls API allows users block incoming calls from specific phone numbers. If only a part of a telephone number is provided, calls with callers ID matching the pattern will be blocked. For example, pattern '+1212' will block all calls from NY 212 area code.\n\nDelete a blocked call pattern for extension","tags":["Blocked Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/call-logs":{"get":{"summary":"List Call Logs","description":"The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.\n\nGet a list of call details associated with your account","tags":["Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[id]","schema":{"type":"string"},"required":false,"description":"Call UUID"},{"in":"query","name":"filters[start_time]","schema":{"type":"string"},"required":false,"description":"Call start time filter. Expected value is UNIX timestamp with operator like \"gt\" (greater than), \"gte\" (greater than or equals), \"lt\" (lesser than), \"lte\" (lesser than or equals). Example: \"gt:1597778180\"."},{"in":"query","name":"filters[created_at]","schema":{"type":"string"},"required":false,"description":"Call log creation time filter. Expected value is UNIX timestamp with operator like \"gt\" (greater than), \"gte\" (greater than or equals), \"lt\" (lesser than), \"lte\" (lesser than or equals). Example: \"gt:1597778180\"."},{"in":"query","name":"filters[direction]","schema":{"type":"string"},"required":false,"description":"Call direction filter: in or out"},{"in":"query","name":"filters[type]","schema":{"type":"string"},"required":false,"description":"Call type, such as 'call', 'fax', 'audiogram'"},{"in":"query","name":"filters[extension]","schema":{"type":"string"},"required":false,"description":"Account extension filter"},{"in":"query","name":"filters[called_number]","schema":{"type":"string"},"required":false,"description":"Called number"},{"in":"query","name":"filters[caller]","schema":{"type":"string"},"required":false,"description":"Number of the caller"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Filter by your number (no matter if it is inbound or outbound call). Accepts list of numbers: \"in:%2B15555550001,%2B15555550002\" (\"%2B\" stands for \"+\" in query string)."},{"in":"query","name":"filters[other_number]","schema":{"type":"string"},"required":false,"description":"Filter by other party's number (no matter if it is inbound or outbound call). Accepts list of numbers: \"in:%2B15555550001,%2B15555550002\" (\"%2B\" stands for \"+\" in query string)."},{"in":"query","name":"filters[call_duration]","schema":{"type":"string"},"required":false,"description":"Duration of the call"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/call-logs/{id}":{"get":{"summary":"Get Call Log","description":"The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.\n\nShow details of an individual Call Log entry","tags":["Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/call-logs/{id}/recording/download":{"get":{"summary":"Download Call Log","description":"The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.\n\nDownload a call log record","tags":["Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/call-logs":{"get":{"summary":"List Call Logs for extension","description":"The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.\n\nGet a list of call details associated with your account and extension","tags":["Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[id]","schema":{"type":"string"},"required":false,"description":"Call UUID"},{"in":"query","name":"filters[start_time]","schema":{"type":"string"},"required":false,"description":"Call start time filter. Expected value is UNIX timestamp with operator like \"gt\" (greater than), \"gte\" (greater than or equals), \"lt\" (lesser than), \"lte\" (lesser than or equals). Example: \"gt:1597778180\"."},{"in":"query","name":"filters[created_at]","schema":{"type":"string"},"required":false,"description":"Call log creation time filter. Expected value is UNIX timestamp with operator like \"gt\" (greater than), \"gte\" (greater than or equals), \"lt\" (lesser than), \"lte\" (lesser than or equals). Example: \"gt:1597778180\"."},{"in":"query","name":"filters[direction]","schema":{"type":"string"},"required":false,"description":"Call direction filter: in or out"},{"in":"query","name":"filters[type]","schema":{"type":"string"},"required":false,"description":"Call type, such as 'call', 'fax', 'audiogram'"},{"in":"query","name":"filters[extension]","schema":{"type":"string"},"required":false,"description":"Account extension filter"},{"in":"query","name":"filters[called_number]","schema":{"type":"string"},"required":false,"description":"Called number"},{"in":"query","name":"filters[caller]","schema":{"type":"string"},"required":false,"description":"Number of the caller"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Filter by your number (no matter if it is inbound or outbound call). Accepts list of numbers: \"in:%2B15555550001,%2B15555550002\" (\"%2B\" stands for \"+\" in query string)."},{"in":"query","name":"filters[other_number]","schema":{"type":"string"},"required":false,"description":"Filter by other party's number (no matter if it is inbound or outbound call). Accepts list of numbers: \"in:%2B15555550001,%2B15555550002\" (\"%2B\" stands for \"+\" in query string)."},{"in":"query","name":"filters[call_duration]","schema":{"type":"string"},"required":false,"description":"Duration of the call"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/call-logs/{id}":{"get":{"summary":"Get Call Log for extension","description":"The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.\n\nShow details of an individual Call Log entry for extension","tags":["Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/call-logs/{id}/recording/download":{"get":{"summary":"Download Call Log for extension","description":"The Call Logs API returns a list of call detail records for the account. The result includes the id, start time, creation time, caller ID, called number, direction of call, and duration in seconds. If applicable, the result may also include final action, final action duration, listen URL, and/or transcription. Since the call logs usually contains many calls, API users may use filters such as start_time, created_at and direction to limit the result set to calls interested. Users may also use the sorting parameters such as start_time and created_at to list result in ascending or descending order.\n\nDownload a call log record for extension","tags":["Call Logs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/call-reports":{"get":{"summary":"Get Call Report","description":"Aggregated calls statistics\n\nReturns data about usage of phone service","tags":["Call Reports"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"group_by","schema":{"type":"string","enum":["date","hour","minute","week","npa","direction","number","extension"],"default":"date"},"required":false,"description":"Grouping parameter"},{"in":"query","name":"fields","schema":{"type":"string","default":"count_incoming,count_outgoing,total"},"required":false,"description":"List of fields for report (comma-separated). Available values: \"min_call_duration\", \"avg_call_duration\", \"max_call_duration\", \"total_call_duration\", \"min_amount\", \"avg_amount\", \"max_amount\", \"total_amount\", \"first_time\", \"last_time\", \"count_incoming\", \"count_outgoing\", \"total\""},{"in":"query","name":"tz_offset","schema":{"type":"string","default":"count_incoming,count_outgoing,total"},"required":false,"description":"By default grouping by date (week), will be based on GMT. You can adjust it by providing timezone offset in seconds (like \"-18000\" for New York)"},{"in":"query","name":"filters[start_time]","schema":{"type":"string"},"required":false,"description":"Call start time. Expected value is UNIX timestamp with operator like \"gt\" (greater than), \"gte\" (greater than or equals), \"lt\" (lesser than), \"lte\" (lesser than or equals). Example: \"gt:1597778180\"."},{"in":"query","name":"filters[created_at]","schema":{"type":"string"},"required":false,"description":"Call log creation time. This filter is required and can be defined like this: filters[created_at]=between:1613999999,1614100000 (values are UNIX timestamps; not included into selection)"},{"in":"query","name":"filters[direction]","schema":{"type":"string"},"required":false,"description":"Call direction (in seconds)"},{"in":"query","name":"filters[extension]","schema":{"type":"string"},"required":false,"description":"Extension ID"},{"in":"query","name":"filters[called_number]","schema":{"type":"string"},"required":false,"description":"Called number"},{"in":"query","name":"filters[call_duration]","schema":{"type":"string"},"required":false,"description":"Call duration"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Phone number (called number for inbound, caller id for outbound)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/call-reports":{"get":{"summary":"Get Call Report for extension","description":"Aggregated calls statistics\n\nReturns data about usage of phone service for extension","tags":["Call Reports"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"group_by","schema":{"type":"string","enum":["date","hour","minute","week","npa","direction","number","extension"],"default":"date"},"required":false,"description":"Grouping parameter"},{"in":"query","name":"fields","schema":{"type":"string","default":"count_incoming,count_outgoing,total"},"required":false,"description":"List of fields for report (comma-separated). Available values: \"min_call_duration\", \"avg_call_duration\", \"max_call_duration\", \"total_call_duration\", \"min_amount\", \"avg_amount\", \"max_amount\", \"total_amount\", \"first_time\", \"last_time\", \"count_incoming\", \"count_outgoing\", \"total\""},{"in":"query","name":"tz_offset","schema":{"type":"string","default":"count_incoming,count_outgoing,total"},"required":false,"description":"By default grouping by date (week), will be based on GMT. You can adjust it by providing timezone offset in seconds (like \"-18000\" for New York)"},{"in":"query","name":"filters[start_time]","schema":{"type":"string"},"required":false,"description":"Call start time. Expected value is UNIX timestamp with operator like \"gt\" (greater than), \"gte\" (greater than or equals), \"lt\" (lesser than), \"lte\" (lesser than or equals). Example: \"gt:1597778180\"."},{"in":"query","name":"filters[created_at]","schema":{"type":"string"},"required":false,"description":"Call log creation time. This filter is required and can be defined like this: filters[created_at]=between:1613999999,1614100000 (values are UNIX timestamps; not included into selection)"},{"in":"query","name":"filters[direction]","schema":{"type":"string"},"required":false,"description":"Call direction (in seconds)"},{"in":"query","name":"filters[extension]","schema":{"type":"string"},"required":false,"description":"Extension ID"},{"in":"query","name":"filters[called_number]","schema":{"type":"string"},"required":false,"description":"Called number"},{"in":"query","name":"filters[call_duration]","schema":{"type":"string"},"required":false,"description":"Call duration"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Phone number (called number for inbound, caller id for outbound)"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/caller-ids":{"get":{"summary":"List Caller IDs","description":"API users with Extension scope access token does not have access to the Phone Number API. This API helps user to retrieve available account phone numbers to be used as caller id via the /Calls API.\n\nShow the Caller ID options a given extension can use.","tags":["Caller IDs"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[name]","schema":{"type":"string"},"required":false,"description":"Name filter"},{"in":"query","name":"filters[number]","schema":{"type":"string"},"required":false,"description":"Number filter"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/calls":{"post":{"summary":"Create Calls","description":"This API places a call to the caller phone number (or caller extension ID). If that number (or extension) answers within the timeout period, then the callee DID (or extension) will be connected to the call.\n\nMake a phone call. You need to provide caller and callee information. You can provide different payload, so different parameters may be required. These are supported scenarios:\n1. caller_phone_number + callee_extension.\n2. caller_phone_number + callee_phone_number + caller_extension.\n3. caller_extension + callee_phone_number.","tags":["Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Make a phone call. You need to provide caller and callee information. You can provide different payload, so different parameters may be required. These are supported scenarios:\n1. caller_phone_number + callee_extension.\n2. caller_phone_number + callee_phone_number + caller_extension.\n3. caller_extension + callee_phone_number.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Call"}}}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/calls":{"post":{"summary":"Create calls for extension","description":"This API places a call to the caller phone number (or caller extension ID). If that number (or extension) answers within the timeout period, then the callee DID (or extension) will be connected to the call.\n\nMake a phone call for extension. You need to provide caller and callee information. You can provide different payload, so different parameters may be required. These are supported scenarios:\n1. caller_phone_number + callee_extension.\n2. caller_phone_number + callee_phone_number + caller_extension.\n3. caller_extension + callee_phone_number.","tags":["Calls"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Make a phone call for extension. You need to provide caller and callee information. You can provide different payload, so different parameters may be required. These are supported scenarios:\n1. caller_phone_number + callee_extension.\n2. caller_phone_number + callee_phone_number + caller_extension.\n3. caller_extension + callee_phone_number.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Call"}}}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/oauth/clients":{"get":{"summary":"List OAuth Clients","description":"Phone.com API supports OAuth 2.0 Authorization Framework, which enables a third-party application (client) to obtain limited access to HTTP API requests. This page describes how to use the /oauth/clients API to list, get and delete client.\n\nGet a list of OAuth clients for an account. Your token should have 'oauth-management' scope to perform this request.","tags":["Clients"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[voip_id]","schema":{"type":"string"},"required":false,"description":"Account filter"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/oauth/clients/{id}":{"get":{"summary":"Get OAuth Client","description":"Phone.com API supports OAuth 2.0 Authorization Framework, which enables a third-party application (client) to obtain limited access to HTTP API requests. This page describes how to use the /oauth/clients API to list, get and delete client.\n\nShow details of an individual OAuth client. Your token should have 'oauth-management' scope to perform this request.","tags":["Clients"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete OAuth Client","description":"Phone.com API supports OAuth 2.0 Authorization Framework, which enables a third-party application (client) to obtain limited access to HTTP API requests. This page describes how to use the /oauth/clients API to list, get and delete client.\n\nDelete an individual OAuth client. Your token should have 'oauth-management' scope to perform this request.","tags":["Clients"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/conversations":{"get":{"summary":"List Conversations","description":"Represents overview of your messaging history in messenger-like format.\n\nThis service is used to get the conversations for given filters","tags":["Conversations"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"filters[id]","schema":{"type":"string"},"required":false,"description":"ID filter"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/conversations":{"get":{"summary":"List Conversations for extension","description":"Represents overview of your messaging history in messenger-like format.\n\nThis service is used to get the conversations for given filters for extension","tags":["Conversations"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"filters[id]","schema":{"type":"string"},"required":false,"description":"ID filter"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/extensions/{extension_id}/conversations/{id}":{"get":{"summary":"Get Conversation for extension","description":"Represents overview of your messaging history in messenger-like format.\n\nGet Conversation for extension.","tags":["Conversations"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"patch":{"summary":"Update Conversation for extension","description":"Represents overview of your messaging history in messenger-like format.\n\nUpdate Conversation for extension","tags":["Conversations"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Update Conversation for extension","required":true,"content":{"application/json":{"schema":{"title":"Conversation","type":"object","properties":{"read":{"type":"boolean","enum":[true],"description":"Update conversation is readed can be true or false"}}}}}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete Conversation for extension","description":"Represents overview of your messaging history in messenger-like format.\n\nThis service is used to delete a conversation i.e. to delete all the messages of a conversation for extension","tags":["Conversations"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"extension_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/devices":{"post":{"summary":"Create device","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nThe Create Device API allows you to add a Generic SIP device. You may use the extension API to associate the device with the extension, which is required for the device to be operational.  NOTE: If you use the Create Device and at the same request, ask to associate the device to an extension (using the \"Lines\" Param). The Call Handling Rules (CHR) of the Extension, if existed, will be deleted. \n\nTo ensure proper operation of the SIP device, you must add some call handling rules to the extension. Adding CHR is usually done by using the extension API.","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"The Create Device API allows you to add a Generic SIP device. You may use the extension API to associate the device with the extension, which is required for the device to be operational.  NOTE: If you use the Create Device and at the same request, ask to associate the device to an extension (using the \"Lines\" Param). The Call Handling Rules (CHR) of the Extension, if existed, will be deleted. \n\nTo ensure proper operation of the SIP device, you must add some call handling rules to the extension. Adding CHR is usually done by using the extension API.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Device"}}}},"security":[{"bearerAuth":[]}]},"get":{"summary":"List Devices","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nGet a list of VoIP devices associated with your account","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"include_subaccounts","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"Send \"1\" if you want to add subaccounts data into output"},{"in":"query","name":"filters[name]","schema":{"type":"string"},"required":false,"description":"Name filter"},{"in":"query","name":"filters[type]","schema":{"type":"string"},"required":false,"description":"Device type filter, array or string. Available values: other, generic, softphone, iphone, communicator"},{"in":"query","name":"filters[sip_username]","schema":{"type":"string"},"required":false,"description":"SIP username filter"},{"in":"query","name":"filters[extension_name]","schema":{"type":"string"},"required":false,"description":"Extension name"},{"in":"query","name":"filters[extension_number]","schema":{"type":"string"},"required":false,"description":"Extension number"},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/devices/{id}":{"get":{"summary":"Get Device","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nShow details of an individual VoIP device","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"put":{"summary":"Replace Device","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nUpdate the details of an individual VoIP device","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Update the details of an individual VoIP device","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Device"}}}},"security":[{"bearerAuth":[]}]},"patch":{"summary":"Patch Device","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nReplace parameters on an individual device, only provided parameters will be replaced.","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Replace parameters on an individual device, only provided parameters will be replaced.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Device"}}}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete Device","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nDelete a VoIP device","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]}},"/v4/accounts/{voip_id}/devices/{id}/e911":{"get":{"summary":"Get e911 address","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nGet current e911 address associated with the device","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"in":"query","name":"offset","schema":{"type":"integer","minimum":0,"default":0},"required":false,"description":"The number of items to skip before starting to collect the result set"},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":500,"default":25},"required":false,"description":"The number of items to return"},{"in":"query","name":"sort[id]","description":"Sort response","required":false,"schema":{"type":"string","enum":["asc","desc"]}},{"in":"query","name":"mode","schema":{"type":"string","enum":["brief","full"],"default":"full"},"required":false,"description":"Defines mode of the data output (brief or full)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"security":[{"bearerAuth":[]}]},"put":{"summary":"Sync e911 address","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as the SIP credentials required.\n\nSyncronize device's e911 address","tags":["Devices"],"parameters":[{"name":"voip_id","in":"path","required":true,"schema":{"type":"integer","minimum":1}},{"name":"id","in":"path","required":true,"schema":{"type":"integer","minimum":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/List-Response"}}}},"400":{"$ref":"#/components/responses/Bad-Request"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/Not-Found"},"409":{"$ref":"#/components/responses/Conflict"},"422":{"$ref":"#/components/responses/Validation-Error"},"429":{"$ref":"#/components/responses/Too-Many-Requests"},"500":{"$ref":"#/components/responses/Internal-Server-Error"}},"requestBody":{"description":"Syncronize device's e911 address","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceE911"}}}},"security":[{"bearerAuth":[]}]},"post":{"summary":"Set new e911 address","description":"Extension on your Phone.com account may have SIP devices associated with them. \n\nThe Device API provides information about those SIP devices, such as
[...]
